html {
  scroll-behavior: smooth;
}
body {
  color: white;
  background-color: #080808;
  font-family: Arial, sans-serif;
}

* {
  margin: 0; /* Reset margin for all elements */
  padding: 0; /* Reset padding for all elements */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Next time change it */
.intro {
  margin-top: 22px;
}

/* Headings */
.home-title {
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 90px;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: -154px;
}

.nav-title {
  text-align: center;
  font-size: 48px;
  margin-top: 40px;
}

.underline-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.underline {
  width: 400px;
  height: 0px;
  border: 1px solid #f60000ed;
}

#home,
#about,
#resume,
#skills,
#Experience,
#project,
#contact {
  scroll-margin-top: 170px;
}

:root {
  --navbar-height: 200px; /* Adjust based on your design */
}
/* Navigation */
/* Logo */
.logo {
  color: #000000;
  font-size: 27px;
  font-weight: 1000;
  font-variant: all-small-caps;
  margin-right: 20px;
}

.logo:hover {
  color: #0059ff86;
  cursor: pointer;
}

/* Navigation Links */
.nav-links {
  margin-left: 620px;
  display: flex;
  flex-grow: 1;
}

/* Each link styling */
.nav-links a {
  margin: 11px;
  color: #994c19;
  text-decoration: none;
  position: relative; /* To position the underline */
}

.nav-links a::after {
  content: ''; /* Creates the underline */
  position: absolute;
  left: 0;
  bottom: -2px; /* Distance from the text */
  width: 100%;
  height: 1px; /* Thickness of the underline */
  background-color: #994c19; /* Same color as the text */
  transform: scaleX(0); /* Initially hidden */
  transform-origin: right; /* Start animation from the right */
  
  transition: transform 0.3s ease; /* Smooth animation */
}

/* Hover effect to reveal underline */
.nav-links a:hover::after {
  transform: scaleX(1); /* Show the underline on hover */
  transform-origin: left; /* Animate from left to right */
}

/* Header Styling */
header nav {
  min-height: 20px;
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 0;
  height: 13px;
  background-color: rgba(42, 43, 44, 0.788);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
}

/* Hamburger menu (hidden by default) */
.hamburger {
  display: none; /* Hide the button by default */
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links a:hover {
  color: #ec7d3d;
}

/* Hero */
.hero-container {
  padding-top: 30px; /* Add padding equivalent to navbar height */
}

.profile {
  width: 100%;
  background-image: url("../Assests/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 152px 0; /* Vertical padding inside the hero */
}

.img-class {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Centering the typewriter container */
.typewriter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

/* Typing effect */
.typewriter {
  font-size: 2.25rem; /* Use relative units */
  color: black;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  display: inline-block;
  animation: typing 2s steps(20, end) forwards, blink 0.75s step-end infinite;
  animation-fill-mode: forwards; /* Keep the final state of the animation */
}

/* Typing effect keyframes */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 20ch; /* Adjust based on the actual length of text */
  }
}

/* Blinking cursor effect */
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* Aabout */
.about-container {
  margin-top: 55px;
  display: flex;
  flex-direction: column; /* Stack items on smaller screens */
  align-items: center; /* Center items horizontally */
  padding: 20px;
  margin-left: 0; /* Default for mobile */
}

.about-image {
  margin-left: 200px;
  margin-bottom: 200px; /* Set a bottom margin of 200px for gap */
  width: 90%; /* Make it responsive */
  max-width: 400px; /* Limit to a max width */
  height: auto; /* Auto height for responsiveness */
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: auto; /* Allow the height to adjust automatically */
  object-fit: cover;
}

.about-details {
  margin-top: 0; /* Reset margin-top */
  font-variant: all-small-caps;
  padding: 0 20px; /* Padding for smaller screens */
}

.about-details li {
  list-style-type: circle;
  color: #1b1a1a;
  margin: 15px 0; /* Adjusted margin */
  font-size: 22px;
  transition: color 0.3s, margin-left 0.3s; /* Smooth transition */
}

.about-details li:hover {
  margin-left: 2px;
  color: #fa000069;
  list-style-type: disc;
}

.about-span-1 {
  color: gray;
}

.about-span-2 {
  color: rgb(199, 198, 198);
}

.about-me {
  margin-top: 30px;
  margin-left: 20%;
  text-align: center;
  width: 800px;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(207, 207, 207);
  line-height: 28px;
  word-spacing: 2px;
}

.about-me strong {
  color: rgb(6, 101, 209);
}

/* Resume */

.resume-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  margin-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 500px;
}

.resume-item {
  padding: 10px;
  border-radius: 15px;
  border: solid black;
  background-color: #1d1c1c;
}

.resume-item h2 {
  margin: 10px;
  color: rgb(21 136 252);
}

.resume-item h3 {
  margin: 10px;
  color: #838588;
}

.resume-item h4 {
  margin: 10px;
  color: #646464;
}

/* Experience */
.timeline-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #1d1c1c;
  position: relative;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px 0;
  width: 70%;
  max-width: 1200px;
  border-radius: 20px;
}

/* Vertical line in the center */
.timeline-container::before {
  content: "";
  position: absolute;
  left: 40px; /* Place the line on the left side */
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #3939394d;
  z-index: 0;
}

/* Each timeline item */
.timeline-item {
  display: flex;
  position: relative;
  margin: 30px 0;
  justify-content: flex-start; /* Align items to the left side */
  width: 100%;
}

/* The dot that appears on the timeline */
.timeline-dot {
  position: absolute;
  left: 30px;
  top: 55px;
  background-color: #2f493e;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  border: 1px solid rgb(8, 8, 8);
}

/* Content box for each experience (on the right side of the line) */
.timeline-content {
  background-color: #303030;
  padding: 20px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  margin-left: 53px;
  width: 57%;
  margin-top: 11px;
}

/* The company name */
.timeline-company {
  margin: 0;
  color: #1587fa;
  font-weight: bold;
  font-size: 1.2em;
}

/* The year of experience */
.timeline-year {
  color: #888;
  font-size: 0.9em;
  margin-top: 4px;
}

/* The description of the experience */
.timeline-description {
  margin-top: 10px;
  color: #727272;
  font-size: 1em;
}

/* skills */

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
  gap: 20px;
  padding: 20px;
}
.skill-item {
  border-radius: 25px;
  margin-top: 40px;
  background-color: #000000;
  border: 1px solid #ddd5d7;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

/* Title */
.skill-title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
  transition: color 0.3s ease;
  cursor: pointer;
}

/* Technology list (Initially hidden) */
.technology-list {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

/* Hover Effect: Show technology list */
.skill-item:hover .technology-list {
  opacity: 1;
  visibility: visible;
  max-height: 300px; /* Adjust based on content size */
}

/* Hover Effect: Change background and text color */
.skill-item:hover {
  border: 1px solid #1588fc;
  background-color: #252726;
}

.skill-item:hover .skill-title {
  color: rgb(0, 0, 0);
}

.skill-item:hover .technology-list li {
  color: #1588fc;
}

/* Technology List Item */
.technology-list li {
  padding: 10px 0;
  font-size: 18px;
  color: 1588fc;
}

.skill-list img {
  margin-top: 30px;
  width: 40px;
}

/* Project */
.project-title {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  color: #f9fbff;
  font-family: auto;
}

.project-description {
  width: 90%; /* Use percentage for width to make it flexible */
  max-width: 700px; /* Ensure the width doesn't exceed 700px on large screens */
  margin: 0 auto;
  text-align: center;
  padding: 20px; /* Add padding for better spacing */
}

.project-images {
  height: 600px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#slideshow-image {
  width: 50%;
  height: 50%;
  object-fit: fill; /* Ensure the image covers the entire area */
}

/* services */

.services-container {
margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-grid-container {

  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  gap: 50px;
}

.services-grid {
  color: #f0a400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 180px;
  width: 350px;
  background-color: rgb(29, 28, 28);
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
  overflow: hidden  ;
}

.service-hr-line {
  margin-top: 15px;
  width: 100px; /* Total width of the line */
  height: 2px; /* Height of the line */
  background-color: rgb(207, 207, 209); /* Start with no color */
  border: none;
  position: relative;
  overflow: hidden;
}

.service-hr-line::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 0; /* Start width at 0 */
  height: 100%;
  background-color: rgb(255, 0, 0); /* Line color */
  transform: translateX(-50%); /* Center the line */
  transition: width 0.4s ease; /* Smooth transition on width change */
}

.services-grid:hover .service-hr-line::before {

  width: 100%; /* Expand the line fully on hover */
 
}

.services-grid::before{
  content: '';
  background-color: #121213;
  top: 0;
  left: 0;
width: 100%;
height: 100%;
  position: absolute;
  transform: translateX(-100%);
  transition: .4s all ease;
  z-index: -1;
}
.services-grid::after{
  content: '';
  background-color: #121213;
  top: 0;
  right: 0;
width: 100%;
height: 100%;
  position: absolute;
  transform: translateX(100%);
  transition: .4s all ease;
  z-index: -1;
}
.services-grid:hover::before{
transform: translate(-50%);
}
.services-grid:hover::after{
  transform: translate(50%);
  }






/* footer */

.footer-container {
  margin-left: 200px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.footer {
  margin-top: 100px;
  background-color: #1212139c;
  padding: 2px 0;
}

.footer-address {
  line-height: 2;
  font-family: "Font Awesome 5 Brands", system-ui;
}

.footer-address h1 {
  color: #fff;
  margin-bottom: 10px;
}
.footer-address p {
  color: #ccc;
}

.footer-form {
  margin-left: 113px;
}

.footer-form input,
.footer-form textarea {
  width: 70%;
  margin: 10px 0;

  background-color: transparent; /* Transparent background */
  border: none; /* Remove all borders */
  border-bottom: 1px solid #7a431e; /* Only bottom border */
  color: #fff; /* Text color */
  font-size: 16px; /* Font size */
  outline: none; /* Remove default outline */
}

/* Change bottom border color on focus */
.footer-form input:focus,
.footer-form textarea:focus {
  border-bottom-color: #0066ff; /* Change this color as desired on focus */
}

.footer-form-button {
  color: #757567;
  margin-top: 15px;
  margin-left: 77px;
  width: 140px;
  height: 31px;
  background-color: #0b0b0c;
  border: 1px solid #7a431e;
  border-radius: 15px;
}
.footer-form-button:hover {
  color: #7a431e;

  width: 140px;
  height: 31px;
  background-color: #0b0b0c;
  border: 1px solid #7a431e;
  border-radius: 15px;
}

.footer-social .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.social-links a:hover {
  color: #050505c9;
  background-color: rgba(31, 68, 83, 0.863);
}

.footer-social h4 {
  color: #484863;
  text-align: center;
}

.social-links {
  margin-top: 20px;
  text-align: center;
}

.social-icons a {
  margin: 10px;
  font-size: 24px;
}

.credit {
  margin-left: 1181px;
  filter: brightness(0.2);
  font-size: 18px;
}

/* Responsive styles */

/* Headings */
@media (max-width: 768px) {
  .home-title {
    font-size: 40px; /* Adjust font size for smaller screens */
    margin-bottom: -80px; /* Adjust margin for smaller screens */
  }

  .nav-title {
    font-size: 24px; /* Adjust font size */
    margin-top: 20px; /* Reduce the top margin */
  }
}

/* Larger devices (desktops) */
@media (min-width: 769px) {
  .home-title {
    font-size: 80px; /* Keep large font size for bigger screens */
    margin-bottom: -140px; /* Adjust margin for larger screens */
  }

  .nav-title {
    font-size: 48px;
    margin-top: 40px;
  }
}

/* Extra-large devices */
@media (min-width: 1200px) {
  .home-title {
    font-size: 90px; /* Retain size for extra-large devices */
    margin-bottom: -154px; /* Keep original margin */
  }

  .nav-title {
    font-size: 48px;
    margin-top: 40px;
  }
}

/*  Underline */
@media (max-width: 500px) {
  .underline-container {
    display: flex;
    justify-content: center;
    margin-top: 26px;
  }
  .underline {
    width: 160px;
    height: 0px;
    border: 1px solid #f60000ed;
  }
}

/* navigation */

@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show the button on smaller screens */
  }

  .nav-links {
    display: none; /* Hide nav links by default on small screens */
    flex-direction: column; /* Stack links vertically */
    position: absolute; /* Position them absolutely */
    top: var(--navbar-height); /* Position below the navbar */
    left: 0;
    right: 0;
    background-color: rgba(42, 43, 44, 0.788);
    padding: 10px 0; /* Add padding around the links */
    z-index: 999; /* Ensure it's above other content */
  }

  .nav-links.active {
    display: flex; /* Show nav links when active */
  }

  .nav-links a {
    margin: 5px 0; /* Space between links */
    text-align: center; /* Center text */
  }
}

@media (max-width: 480px) {
  .nav-links {
    left: 0; /* Align left */
    right: 0; /* Align right */
  }
}

@media (max-width: 768px) {
  .typewriter {
    font-size: 1.5rem; /* Smaller font size on mobile */
  }

  .img-class {
    height: 120px; /* Smaller profile picture */
    width: 120px; /* Smaller profile picture */
  }
}

/* About */
@media (min-width: 768px) {
  .about-container {
    flex-direction: row; /* Switch to row layout on larger screens */
    align-items: flex-start; /* Align items to the top */
    margin-left: 50px; /* Add left margin for desktop view */
  }

  .about-image {
    margin-bottom: 0; /* Remove bottom margin on larger screens */
    margin-right: 50px; /* Margin for larger screens */
  }

  .about-details {
    padding-right: 50px; /* Adjust right padding */
    margin-top: 0; /* Remove margin on larger screens */
  }
  .about-details li {
    list-style-type: circle;
    color: #1b1a1a;
    margin: 15px 0; /* Adjusted margin */
    font-size: 22px;
    transition: color 0.3s, margin-left 0.3s; /* Smooth transition */
  }
}

@media (max-width: 900px) {
  .about-image {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 300px; /* Limit the max width for better fit */
    margin-left: 0; /* Remove left margin */
    margin-bottom: 20px; /* Keep bottom margin for gap */
  }

  .about-details {
    padding: 0 20px; /* Maintain padding for smaller screens */
    margin-left: 63px;
  }
  .about-details li {
    list-style-type: circle;
    color: #1b1a1a;
    margin: 15px 0; /* Adjusted margin */
    font-size: 22px;
    transition: color 0.3s, margin-left 0.3s; /* Smooth transition */
  }
}
@media (max-width: 500px) {
  .about-me {
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
    width: 90%;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: rgb(207, 207, 207);
    line-height: 14px;
  }

  .about-me strong {
    color: rgb(6, 101, 209);
  }
  .about-details li {
    list-style-type: circle;
    color: #1b1a1a;
    margin: 15px 0; /* Adjusted margin */
    font-size: 16px;
    transition: color 0.3s, margin-left 0.3s; /* Smooth transition */
  }
}

/* Resume */

@media (max-width: 768px) {
  .resume-container {
    padding: 0 20px; /* Add padding for mobile devices */
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Experience */

@media (max-width: 768px) {
  .timeline-container::before {
    left: 18px;
  }

  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-dot {
    left: 10px;
    top: 0;
  }

  .timeline-content {
    margin-top: -45px;
    margin-left: 30px;
    width: 70%; /* Full width on smaller screens */
  }
}

/* Skills */

@media (max-width: 768px) {
  .skill-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
    gap: 15px;
  }

  .skill-title {
    font-size: 20px; /* Smaller font size for skill titles */
  }

  .technology-list li {
    font-size: 16px; /* Smaller font size for list items */
  }
}

/* For mobile devices (max-width: 480px) */
@media (max-width: 480px) {
  .skill-container {
    grid-template-columns: 1fr; /* 1 column for mobile */
    gap: 10px;
  }

  .skill-title {
    font-size: 18px; /* Adjust font size for smaller devices */
  }

  .technology-list li {
    font-size: 14px; /* Smaller font size for mobile */
  }

  .skill-item {
    padding: 15px; /* Reduce padding for smaller devices */
  }
}

.skill-item {
  border-radius: 25px;
  margin-top: 40px;
  background-color: #000000;
  border: 1px solid #ddd5d7;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.skill-title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
  transition: color 0.3s ease;
  cursor: pointer;
}

.technology-list {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.skill-item:hover .technology-list {
  opacity: 1;
  visibility: visible;
  max-height: 300px;
}

.skill-item:hover {
  border: 1px solid #1588fc;
  background-color: #252726;
}

.skill-item:hover .skill-title {
  color: rgb(0, 0, 0);
}

.skill-item:hover .technology-list li {
  color: #1588fc;
}

.technology-list li {
  padding: 10px 0;
  font-size: 18px;
  color: #1588fc;
}

.skill-list img {
  margin-top: 30px;
  width: 40px;
}

/* sliding skills */
.skill-list {
  display: flex;
  gap: 1rem;

  padding-block: 10px;
  flex-wrap: nowrap; /* Prevent wrapping so that items scroll horizontally */
  animation: scroll 8s linear infinite;
}

.skill-list li {
  list-style: none;
  padding: 10px;
}

/* project */
@media (min-width: 768px) {
  .project-description {
    width: 80%; /* Slightly wider for tablets and above */
  }
}

@media (min-width: 1024px) {
  .project-description {
    width: 70%; /* Wider for larger screens */
  }
}

/* services */
@media (max-width: 992px) {
  .services-grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    gap: 30px; /* Reduce gap between items */
  }

  .services-grid {
    height: 160px;
    width: 300px; /* Smaller width */
  }

  .service-hr-line {
    width: 80px; /* Smaller line width */
  }

  .services-container {
    padding: 15px; /* Adjust padding for medium screens */
  }
}

/* For Mobile Phones */
@media (max-width: 768px) {
  .services-grid-container {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 20px; /* Reduce gap between items */
  }

  .services-grid {
    height: 150px;
    width: 100%; /* Full-width on mobile */
    font-size: 1.2rem; /* Adjust font size */
  }

  .service-hr-line {
    width: 60px; /* Smaller line width */
  }

  .services-container {
    padding: 10px; /* Adjust padding for small screens */
  }
}

/* For Extra Small Mobile Devices */
@media (max-width: 576px) {
  .services-grid {
    height: 140px;
    width: 100%; /* Ensure full width */
    font-size: 1rem; /* Smaller font size */
  }

  .service-hr-line {
    width: 50px; /* Narrower line width */
  }

  .services-container {
    padding: 5px; /* Reduce padding for very small screens */
  }
}


/* footer */
@media (min-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    gap: 50px;
  }
}
@media (max-width: 424px) {
  .footer-container {
    margin-left: 0;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
    gap: 50px;
  }

  .footer-form {
    margin-left: 25%;
  }
  .footer-address {
    margin-left: 60px;
  }
  .footer-form-button {
    margin-left: 27px;
    width: 50pxpx;
    height: 20px;

    border-radius: 15px;
  }
}

/* Responsive styles for extra large devices (up to 1200px) */
@media (max-width: 450px) {
  .credit {
    margin-left: 380px; /* Use your original margin */
    filter: brightness(0.2); /* Original brightness */
    font-size: 7px; /* Return to default font size */
  }
}
@media (max-width: 1000px) {
  .credit {
    margin-left: 380px; /* Use your original margin */
    filter: brightness(0.2); /* Original brightness */
    font-size: 7px; /* Return to default font size */
  }
}

/* enhance scrolling */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroller[data-animation="true"] {
  overflow: hidden;
}

.scroller[data-animation="true"] .skill-list {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50%));
  }
}

.scroller:hover .skill-list {
  animation-play-state: paused;
  color: #0066ff;
}
.scroller:hover .skill-list h3 {
  animation-play-state: paused;
  color: #0077ff83;
}
