html {
    scroll-behavior: smooth;
  }
body {
  color: white;
  background-color: #080808;
  font-family: Arial, sans-serif;
}


  
  .logo {
    color: #000000c4;
    font-size: 27px;
    font-weight: 1000;
    font-variant: all-small-caps;
    margin-right: 20px;
  font-size: 27px;
  font-weight: 1000;
  font-variant: all-small-caps;
  }



  .logo:hover {
    color: #7c131386;
  }


  .nav-links {
    margin-left: 350px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .nav-links a {
    margin: 0 10px;
    padding: 6px 15px;
    color: #757567;
    border: 1px solid #7a431e;
    border-radius: 24px;
    text-decoration: none;
  }

  .nav-links a:hover {
    color: #7a431e;
    border-color: #7a431e;
  }




#home,
#about,
#resume,
#skills,
#Experience,
#project,
#contact {
  scroll-margin-top: 200px; /* Adjust based on the height of your navbar */
    
}
header nav {
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 0;
  height: 13px;
  background-color: rgba(42, 43, 44, 0.788); /* Semi-transparent background */
  padding: 30px;
  display: flex;
  justify-content: space-between; /* Ensures space between logo and links */
  align-items: center; /* Aligns vertically in the center */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
}

/* Hero */

.hero-container {
  padding-top: 100px; /* Add padding equivalent to navbar height */
}


.profile {
  width: 100%;
  background-image: url("../Assests/background.jpg");
  background-size: cover;
  margin-top: -35px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 152px 0; /* Vertical padding inside the hero */
}

.img-class {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  animation: float 2s ease-in-out infinite;
}


/* Logo floating up and down */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Centering the typewriter container */
.typewriter-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically if needed */
  width: 100%;
  margin: 0 auto;
}

/* Typing effect */
.typewriter {
  font-size: 36px;
  color: black;
  overflow: hidden; /* Ensures that the text is hidden initially */
  white-space: nowrap; /* Prevents the text from breaking to the next line */
  border-right: 2px solid black; /* The cursor */
  display: inline-block; /* Ensure it takes up space */
  animation: typing 2s steps(20, end) forwards, blink 0.75s step-end infinite;
  animation-fill-mode: forwards; /* Keep the final state of the animation */
}

/* Typing effect keyframes */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 20ch;
  } /* Fully typed text at 100% */
}

/* Blinking cursor effect */
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* About */

.about-container {
    display: flex;
    justify-content: space-between; /* This will distribute space evenly between the elements */
    align-items: center; /* Align items vertically */
    padding: 20px;
}

.about-image {
    margin-top: 50px;
    margin-left: 100px;
    width: 400px; /* Set a fixed width */
    height: 400px; /* Set a fixed height to make it square */
    overflow: hidden; /* Ensure the image doesn't overflow the container */
}

.about-image img {
    width: 100%; /* Make the image fill the container's width */
    height: 100%; /* Make the image fill the container's height */
    object-fit: cover; /* Ensure the image covers the container without being distorted */
}

.about-details {
    margin-top: 70px;
    font-variant: all-small-caps;
  padding-right: 180px;
}

.about-details li:hover{

 margin-left: 2px;
  color: #fa000069;  
  margin-top: 30px;
    font-size: 22px;
}
.about-details li{

  color: #1b1a1a;
    margin-top: 30px;
    font-size: 22px;
}

.about-span-1 {
    margin-top: 20px;
  color: white;
}

.about-span-2 {
   
  color: gray;
}



.social-icons a {
  margin: 10px;
  font-size: 24px;
}

/* Skills */

.skill-list {
  display: flex;
  gap: 1rem;
  
  padding-block: 10px;
  flex-wrap: nowrap; /* Prevent wrapping so that items scroll horizontally */
  animation: scroll 8s linear infinite;
}

.skill-list li {
  list-style: none;
  padding: 10px;
}

.scroller[data-animation="true"] {
  overflow: hidden;
}

.scroller[data-animation="true"] .skill-list {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50%));
  }
}

.scroller:hover .skill-list {
  animation-play-state: paused;
  color: #0066ff;
}
.scroller:hover .skill-list h3 {
  animation-play-state: paused;
  color: #0077ff83;
}

h3 {
  font-size: 18px;
  color: rgb(46, 44, 44);
}

.home-title {
  margin-bottom: -154px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 90px;
  color: #1a1a1a;
  text-align: center;
}

.nav-title {
    
 margin-top: 40px;
}

.resume-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  margin-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 500px;
}

.resume-item {
  border-radius: 15px;
  border: solid black;
  background-color: #1a1a1a;
}

.resume-item h2 {
  margin-left: 30px;
  color: rgb(21 136 252);
}

.resume-item h3 {
  margin-left: 30px;
  color: #838588;
}

.resume-item h4 {
  margin-left: 30px;
  color: #646464;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  gap: 20px;
  padding: 20px;
}

/* Experience */
.timeline-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
background-color: #252424c9;
  position: relative;
 padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px 0;
  width: 70%;
  max-width: 1200px;
  border-radius: 20px;
}

/* Vertical line in the center */
.timeline-container::before {
  content: '';
  position: absolute;
  left: 40px; /* Place the line on the left side */
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #3939394d;
  z-index: 0;
}

/* Each timeline item */
.timeline-item {
  display: flex;
  position: relative;
  margin: 30px 0;
  justify-content: flex-start; /* Align items to the left side */
  width: 100%;
}

/* The dot that appears on the timeline */
.timeline-dot {
  position: absolute;
  left: 30px;
  top: 55px;
  background-color: #2f493e;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  border: 1px solid   rgb(8, 8, 8);

}

/* Content box for each experience (on the right side of the line) */
.timeline-content {
  background-color: #303030;
  padding: 20px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  margin-left: 53px;
  width: 57%;
}

/* The company name */
.timeline-company {
  margin: 0;
  color: #1587fa;
  font-weight: bold;
  font-size: 1.2em;
}

/* The year of experience */
.timeline-year {
  color: #888;
  font-size: 0.9em;
  margin-top: 4px;
}

/* The description of the experience */
.timeline-description {
  margin-top: 10px;
  color: #727272;;
  font-size: 1em;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .timeline-container::before {
    left: 5px;
  }

  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-dot {
    left: 0;
    top: 0;
  }

  .timeline-content {
    margin-left: 40px;
    width: 100%; /* Full width on smaller screens */
  }
}




/* Grid Item */
.skill-item {
  border-radius: 25px;
  margin-top: 40px;
  background-color: #000000;
  border: 1px solid #ddd5d7;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

/* Title */
.skill-title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
  transition: color 0.3s ease;
  cursor: pointer;
}

/* Technology list (Initially hidden) */
.technology-list {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

/* Hover Effect: Show technology list */
.skill-item:hover .technology-list {
  opacity: 1;
  visibility: visible;
  max-height: 300px; /* Adjust based on content size */
}

/* Hover Effect: Change background and text color */
.skill-item:hover {
  border: 1px solid #1588fc;
  background-color: #252726;
}

.skill-item:hover .skill-title {
  color: rgb(0, 0, 0);
}

.skill-item:hover .technology-list li {
  color: #1588fc;
}

/* Technology List Item */
.technology-list li {
  padding: 10px 0;
  font-size: 18px;
  color: 1588fc;
}



.skill-list img{
    margin-top: 30px;
    width: 40px;

}

.project-images {
    height: 600px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#slideshow-image {
  width: 50%;
  height: 50%;
  object-fit: fill; /* Ensure the image covers the entire area */
}

.my-buttons {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  box-shadow: inset 1px 1px 20px 5px rgba(252, 252, 252, 0.308);
  background: transparent;
  background-color: #20489756;
  border: 1px solid rgb(13, 59, 143);
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.616);
 
}

.my-buttons:hover {

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.712);
}

.footer-container {
  max-width: 1170px;
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between the divs */
  align-items: center; /* Align vertically to the center */
  padding: 10px;
  margin-top: 100px;
}

.footer {
  margin-top: 100px;
  background-color: #1212139c;
  padding: 2px 0;
}

.footer-address {
  margin-left: 30%;
}

.footer-address h1{
    color: #3a3d3c;
}
.footer-address p{
    color: #6b706e;
}



.footer-form {
  margin-right: 10%;
}

.footer-form input {
  width: 240px;
  height: 30px;
  margin: 5px;
  padding: 0%;
  background-color: #0b0b0c;
  border: #7a431e solid 1px;
  font-weight: 200;
  font-family: "Font Awesome 5 Brands";
  color: #636d66;
  font-size: 20px;
  border-right-color: #0b0b0c;
  border-top-color: #0b0b0c;
  border-left-color: #0b0b0c;
  
}



.footer-social .social-links a {
    
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.social-links a:hover {

  color: #050505c9;
  background-color: rgba(31, 68, 83, 0.863);
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.footer-social h4 {
  color: #484863;
  text-align: center;
}

.social-links {
  text-align: center;
}


.footer-form-button{
    color: #757567;
    margin-top: 15px;
    margin-left: 50px;
    width: 140px;
    height: 31px;
    background-color: #0b0b0c;
    border: 1px solid #7a431e;
    border-radius: 15px;
}
.footer-form-button:hover {

    color: #7a431e;
    margin-top: 15px;
    margin-left: 50px;
    width: 140px;
    height: 31px;
    background-color: #0b0b0c;
    border: 1px solid #7a431e;
    border-radius: 15px;
}


/* enhance scrolling */
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .credit{
    margin-left: 1181px;
    filter: brightness(0.2);
    font-size: 18px;
  }


